<!-- use unscoped method to override default scoping for all Posts -->
<% Post.all.unscoped.popular.each do |post| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to markdown(post.title), [post.topic, post] %>
        </h4>
        <%= render partial: 'users/submitted_by', locals: {topic: topic, post: post } %>
      </div>
    </div>
<% end %>