<div class="row">
  <div class="col-md-8">
    <h1>Popular</h1>
    <p class="lead">Active posts this month</p>
    <!-- pagination  -->
    <p class="bloccit_pagination">
      <%= will_paginate @posts, :container => false %>
    </p>
    <!-- List of posts -->
    <p><%= render partial: 'posts/post', collection: @posts %></p>
    <!-- pagination -->
    <p class="bloccit_pagination">
      <%= will_paginate @posts, :container => false %>
    </p>
  </div>
  <div class="col-md-4">
  </div>
</div>