@import "bootstrap";

$buttonRed: #df4747;
$buttonRedBorder: #990303;

h1 {
  font-weight: bold;
}

.last-post {
  padding: 10px 0 50px 0;
}

.navbar-brand {
  font-weight: bold;
}

a {
  color: $buttonRed;
  &:hover
  {
    color: $buttonRedBorder;
  }
}

.container-fluid{
  padding: 0px 5%;
}

//boostrap customizations
//change color of sign up/ sign in button
.btn-primary {
  background-color: $buttonRed;
  border-color: $buttonRedBorder;
  &:hover {
    background-color: $buttonRedBorder;
  }
}
.btn-success {
  color: white;
  background-color: $buttonRed;
  border-color: $buttonRedBorder;
  &:hover {
    background-color: $buttonRedBorder;
  }
}
// navbar background
.navbar-default .navbar-nav > .active > a{
  color: white;
  background-color: $buttonRed;
  &:hover{
    background-color: $buttonRedBorder;
    color: white;
  }
}
//navbar colors font colors
.navbar-default {
  background-color: #262626;
  .navbar-collapse {
    border-color: #262626;
  }
  .navbar-nav > li > a {
    color: #CDCDCD;
    &:hover {
      color:#999;
    }
  }
  .navbar-brand {
    color: #EBEBEB;
  }
}

//bootstrap tab naåvigation
.tab-content {
  padding-top: 10px;
}

//adding padding to Related Posts lists using last-child selector

.media {
  &:last-child {
    padding-bottom: 50px;
  }
}

//avatar customizations

.tiny-avatar-nav{
  padding: 4px;
  margin-right: 2px;
  border: 1px solid #888888;
}

